section {
	padding:10px;
}

section dl {
	width: 340px;
	height: 80px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 3px #ccc, -1px -1px 3px #ccc;
	float: left;
	margin-right: 10px;
    padding: inherit;
}

.photo {
	width: 80px;
	height: 80px;
	float: left;
}

.photo img {
	width: 100%;
	height: 100%;
}

.name, .price {
	width: 200px;
	float: left;
	margin: 12px 0 0 8px;
}

.name {
    position: relative;
	font-family: Ubuntu;
	font-size: 20px;
    bottom: 75px;
}

.name img {    
	cursor: pointer;
	margin-left: 80px;
    margin-top: 60px;
    width: 35px;
} 

.price {
    position: relative;
	color: red;
	cursor: pointer;
	padding-left: 20px;
    font-size: 30px;
    font-weight:bold;
    left: 80px;
    bottom: 70px;
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
	font-family: Lobster;
	text-indent: 10px;
}

.cart  {
	cursor: pointer;
    width: 300px;
    height: 40px;
    position: absolute;
    right: 150px;
    top: 10px;
    
}

.cart img {
    width: 50px;
}

.cart p {
    position: relative;
    left: 60px;
    bottom:50px;
}

.itemQuantity {
    font-weight:bold;
    font-size: 20px;
}

.cart div {
    position: relative;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #ccc, -1px -1px 3px #ccc;
    width: 180px;
    display: inline-block;
    background-color: purple;
    padding: 10px 20px;
    box-sizing: border-box;
    bottom: 100px;
    left: 200px;
}

.cart div a{
    color: white;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

.cart div:hover {
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
    cursor: pointer;
}
