.menu{
    position: absolute;
    top: 20px;
    left: 450px;
}
ul {
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
    font:100%;
    font-family: Helvetica, Arial, sans-serif;
}

ul li { display: inline; }

ul li a {
    background-color:#EDEDED;
    color: purple;
    font-weight: bold;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    padding: 2px 10px;
    float:left;
}

ul li a:hover {
    background-color:purple;
    color: white;
    font-weight: normal;
    border-bottom:3px solid #7B68EE;
}
